.submitButton {
    padding: 8px 10px;
    background-color: #239c8e;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submitButton:hover {
    background-color: #128c7e;
}

.submitButton:focus {
    outline: none;
}
